body {
   font-family: sans-serif;
   background-color: #F2F2F2;
}

header {
   background-color: #202635;
   z-index: 100;
   position: fixed;
   display: block;
   min-width: 100%
}

header > figure {
   float: left;
   text-align: center;
   width: 135px;
   height: 135px;
   padding: 5px 10px;
   display: block;
}

header > nav {
   display: block;
   height: 135px;
   margin-left: 130px;
   position: fixed;
   left: 0;
   right: 0;
}

header > nav > a {
   float: left;
   padding: 10px 0px;
   margin-top: 47px;
   margin-left: 20px;
   color: #F2F2F2;
   font-size: 16pt;
   text-decoration: none;
}

header > nav > a.pull-right {
   margin-right: 10px;
}

header > nav > a:hover {
   color: white;
}

.icon {
   max-width: 100%;
   vertical-align: middle;
   border: 0;
   text-align: center;
}

.main-title {
   float: left;
   font-size: 24pt;
   font-weight: bold;
   margin-left: 20px;
   padding-top: 35px;
   color: #F2F2F2;
}

.side-menu {
   display: block;
   min-height: 100%;
   position: fixed;
   width: 200px;
   background-color: #202635;
   padding: 10px 5px;
   top: 130px;
   left: 0;
   color: #F2F2F2;
}

.side-menu > p {
   display: block;
   width: 100%;
   border-bottom: 2px solid #F2F2F2;
}

.side-menu > nav {
   margin-top: 30px;
   margin-right: -5px;
   margin-left: -5px;
}

.side-menu nav > ul {
   padding: 0px;
   list-style: none;
}

.side-menu nav > ul > li > a{
   display: block;
   width: 100%;
   padding: 5px;
   background-color: #F2F2F2;
   color: #202635;
   text-decoration: none;
}

.side-menu nav > ul > li > a:hover{
   background-color: #CCCCCC;
   color: #F2F2F2;
}

.content {
   margin-left: 210px;
   min-height: 100%;
   display: block;
}

.page-title {
   border-bottom: 2px solid #202635;
   margin-bottom: 10px;
   position: relative;
   padding: 140px 10px 10px;
   display: block;
}

.page-title > .title {
   display: block;
   font-size: 14pt;
   font-weight: bold;
   padding: 2px;
   margin: 0px;
}

p.reg-info {
   margin: 0px;
   padding: 10px;
   font-size: 12pt;
}

p.reg-info > a:not(.btn) {
   color: #202635;
   text-decoration: none;
   cursor: pointer;
}

p.reg-info > a:hover:not(.btn) {
   background-color: #202635;
   color: #F2F2F2;
}

p.empty-info {
   margin: 0px;
   padding: 10px;
   font-size: 12pt;
   color: #CCCCCC;
}

p.secao-titulo {
   font-size: 12pt;
   font-weight: bold;
   border-bottom: 1px solid #202635;
}

p.secao-titulo2 {
   font-size: 11pt;
   font-weight: bold;
   margin-left: 10px;
}

p.secao-corpo {
   font-size: 11pt;
   margin-left: 10px;
   text-align: justify;
}

dl.dl-horizontal {
   font-size: 11pt;
}

.text-bold {
   font-weight: bold;
}

.panel-heading > .panel-header {
   font-size: 12pt;
   font-weight: bold;
}

@media only all and (min-width:768px){
   .login-panel {
      margin-top: 8%;
   }
}

@media only all and (max-width:768px){
   header > figure {
      position: relative;
      width: 100%;
      height: 65px;
      float: none;
      text-align: center;
      padding: 0;
   }
   
   header > nav {
      margin: 0;
      margin-top: -30px;
      z-index: -50;
      width: 100%;
      height: 65px;
      float: none;
      position: relative;
   }
   
   .main-title {
      display: none;
   }
   
   .side-menu {
      left: -200px;
   }
   
   .content {
      margin-left: 10px;
   }
   
   video, iframe {
      width: 100%;
      min-height: 320px;
      height: auto;
   }
}